<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/zc.jpg" alt="photo"/ height="270" width="100">
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Chen Zhang 张晨
			</h3>
			<p>
			I am currently a Researcher at SenseTime, Beijing, China (2022/07-now). Before that, I obtained my Master Degree in 2022 at Beijing Jiaotong University (BJTU)
			in <a href="http://mepro.bjtu.edu.cn/researcher.html"> MePro</a>, supervised by Prof. <a href="https://rmcong.github.io/">Runmin Cong</a>. From 2021/07 to 
			2021/11, I worked as an in intern at Meituan.<br\>
			</p>
			<p>
			I started my research career in 2020, and research interests mainly focus on deep learning and computer vision. During the master, my main research
			directions were saliency computation, object detection and image segmentation. Now, I am interested in preception tasks based RAW images and computational
			photography.
		    </p>
			
			Email: chen.zhang@bjtu.edu.cn, zhangchen2@tetras.ai <br/>
			<a href="https://scholar.google.com/citations?user=qRcKyw0AAAAJ&hl=zh-CN">[Google Scholar]</a>
			<a href="https://github.com/zhangchen98">[Github]</a>
			
			<h3 style="padding-top:-5px"></h3>
			
			
			
	</div>
</div>
